@model MarvelApi.Model.PersoSW
@model MarvelApi.Model.Characters

<p>Hello the world</p>
@Html.DisplayFor(modelItem => @Model.name)
@if(@Model.name == @Model.name)
{
    @Html.DisplayFor(modelItem => @Model.name)
}

